<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <!-- fontawesome css-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/_LayoutLogin/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Content/_LayoutLogin/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/_LayoutLogin/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="~/Content/_LayoutLogin/css/style.css">
    <!-- Validate error css-->
    <link href="~/Content/validation-summary-errors.css" rel="stylesheet" />
    <title>Site Yönetici - Giriş</title>
</head>
<body>

    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url('/Content/_LayoutLogin/images/image.jpg');"></div>
        <div class="contents order-2 order-md-1">

            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/Content/_LayoutLogin/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/_LayoutLogin/js/popper.min.js"></script>
    <script src="~/Content/_LayoutLogin/js/bootstrap.min.js"></script>
    <script src="~/Content/_LayoutLogin/js/main.js"></script>
</body>
</html>