@model SiteYonetici.Entities.ValueObjects.ForgetPasswordModel
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<style>
    .control input {
        position: absolute;
        z-index: -1;
        /* opacity: 0; */
        width: 15px;
        height: 15px;
    }
</style>

@using (Html.BeginForm("ForgetPassword", "Manager", FormMethod.Post, new { @class = "login-form" }))
{
    @Html.AntiForgeryToken()
    <div class="row align-items-center justify-content-center" style="padding-top:200px">
        <div class="col-md-7">
            <h3>Yeni Şifre Gönderme Formu- <strong>Site Yönetimi</strong></h3>
            <p class="mb-4">Lütfen sistemde kayıtlı olan eposta adresinizi giriniz...</p>
            <div class="form-group">
                <div class="col-md-12">
                    @{
                        if (ViewBag.ForgetPassword != null)
                        {
                            <h4 class="form-control alert-success fa fa-check mr-2"> @ViewBag.ForgetPassword</h4>
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 offset-1">
                    @Html.ValidationSummary(false)
                </div>

            </div>
            <div class="form-group last">
                <label for="eposta">Eposta</label>
                <input type="email" class="form-control" name="Eposta" placeholder="eposta giriniz.." id="eposta">
            </div> <br /><br />
            <button type="submit" class="btn btn-outline-primary btn-lg" title="Şifre Gönder">
                <i class="fa fa-send"></i> Şifre Gönder
            </button>
            <a href="/Manager/Login" class="btn btn-outline-secondary btn-lg" title="Giriş Sayfasına Dön!">
                <i class="fa fa-sign-in"></i> Giriş Sayfasına Dön!
            </a>
        </div>
    </div>
}

